<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mosaic Editor</title>

  <link href="https://cdn.jsdelivr.net/npm/gridstack@12.3.3/dist/gridstack.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/gridstack@12.3.3/dist/gridstack-extra.min.css" rel="stylesheet"/>

  <link rel="stylesheet" href="/css/compiled.css">
</head>
<body>
{{{body}}}

<script src="https://cdn.jsdelivr.net/npm/gridstack@12.3.3/dist/gridstack-all.js"></script>
<script src="/js/grid.js"></script>
</body>
</html>